.login-form {
  width: 500px;
  margin: 30px auto;

  form {
    margin-bottom: 15px;
    background: $white;
    padding: 30px;
  }
  h2 {
    margin: 0 0 15px;
  }

  .hint-text {
    color: #777;
    padding-bottom: 15px;
    text-align: center;
  }
  .form-control, .btn {
    min-height: 50px;
    border-radius: 2px;
  }
  .login-btn {
    font-size: 15px;
    font-weight: bold;
  }
  .or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    i {
      padding: 0 10px;
      background: #f7f7f7;
      position: relative;
      top: -11px;
      z-index: 1;
    }
  }
  .social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    padding-top: 12px;
  }
  .social-btn .btn i {
    float: left;
    margin: 4px 15px  0 5px;
    min-width: 15px;
  }
  .input-group-addon .fa{
    font-size: 18px;
  }


  .social-btn-li {
    text-align: center;
    margin-bottom: 10px;
    /*overflow: hidden;
    max-height: 50px;
    img {
      margin-top: -5px;
    }*/
  }

  .social-btn-li__link {
    display: inline-block;
  }
}

