{% set title = "SINGLE FILE" %}
{% extends "layout/base.html" %}

{% block content -%}
<form action="/file/upload/multiple2" method="post" enctype="multipart/form-data">
    <table class="table table-bordered">
        <tr>
            <th>파일1</th>
            <td><input type="file" name="singleFile1" class="form-control" value=""/></td>
        </tr>
        <tr>
            <th>파일2</th>
            <td><input type="file" name="singleFile2" class="form-control" value=""/></td>
        </tr>
    </table>
    <button class="btn btn-primary">작성하기</button>
</form>

{% endblock %}
