{% block contents %}
    <form action="/example/createUser" method="post">
        <input type="text" name="name"/>
        <input type="text" name="loginId"/>
        <input type="password" name="password"/>
        <button>전송</button>
    </form>
{% endblock %}