@charset "UTF-8";

// body
body {
  font-size: 16px;
  font-family: $notosanskr;
  color: $co_default;
}

* {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ul,
ol,
dl,
dt,
dd,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $co_default;
  }
}

img {
  display: inline-block;
  vertical-align: top;
}

figure {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }
}


