<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/index.do" class="brand-link text-center">

        <span class="brand-text font-weight-light">사이트이름</span>
    </a>
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/static/admin/images/noavatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">테스터</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users nav-icon"></i>
                        <p>
                            회원 관리
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/user.do" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>회원 관리</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/admin/comment.do" class="nav-link">
                        <i class="far fa-comment nav-icon"></i>
                        <p>댓글 관리</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/term.do" class="nav-link">
                        <i class="far fa-file-alt nav-icon"></i>
                        <p>약관 관리</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/popup.do" class="nav-link">
                        <i class="far fa-clone nav-icon"></i>
                        <p>팝업 관리</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/order.do" class="nav-link">
                        <i class="fas fa-won-sign nav-icon"></i>
                        <p>주문 관리</p>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <!-- /.sidebar -->
</aside>
