.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.image-uploader {
  min-height: 101px;
  font-size: 16px;
  max-width: 380px;
  background-color: #fff;
}

.image-uploader .uploader-label {
  background-color: #f8f9fc;
}

.image-uploader .uploader-uploaded-item {
  display: block;
  position: relative;
  min-height: 101px;
  padding: 10px;
  word-break: break-all;
  border-top: 1px solid #ddd;
}

.image-uploader .uploader-uploaded-item.uploader-empty-item {
  display: none;
}

.image-uploader .uploader-uploaded-item::after {
  content: '';
  display: table;
  clear: both;
}

.image-uploader .uploader-btn-delete {
  float: left;
  display: block;
  margin-left: 10px;
}

.image-uploader .uploader-form {
  display: block;
  padding: 10px;
  min-height: 101px;
  border-top: 1px solid #ddd;
}

.image-uploader .uploader-form .uploader-size-limit {
  padding: 5px;
}

.image-uploader .uploader-form .uploader-condition {
  padding: 5px 0;
}

.image-uploader .uploader-uploading {
  display: none;
  min-height: 101px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.image-uploader .uploader-uploading .uploader-uploading-message {
  padding-top: 5px;
}

.image-uploader.uploading .uploader-form {
  display: none;
}

.image-uploader.uploading .uploader-uploading {
  display: block;
}

.image-uploader.uploader-max .uploader-form,
.image-uploader.uploader-max .uploader-uploaded-item-skel, .image-uploader.uploader-init .uploader-form,
.image-uploader.uploader-init .uploader-uploaded-item-skel {
  display: none;
}

.image-uploader .size-guide {
  background-color: #f8f9fc;
}

.image-uploader .uploader-preview {
  float: left;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.file-uploader {
  min-height: 101px;
  font-size: 16px;
  max-width: 380px;
  background-color: #fff;
}

.file-uploader .uploader-label {
  background-color: #f8f9fc;
}

.file-uploader .uploader-uploaded-item {
  display: block;
  position: relative;
  min-height: 101px;
  padding: 10px;
  word-break: break-all;
  border-top: 1px solid #ddd;
}

.file-uploader .uploader-uploaded-item.uploader-empty-item {
  display: none;
}

.file-uploader .uploader-uploaded-item::after {
  content: '';
  display: table;
  clear: both;
}

.file-uploader .uploader-btn-delete {
  float: left;
  display: block;
  margin-left: 10px;
}

.file-uploader .uploader-form {
  display: block;
  padding: 10px;
  min-height: 101px;
  border-top: 1px solid #ddd;
}

.file-uploader .uploader-form .uploader-size-limit {
  padding: 5px;
}

.file-uploader .uploader-form .uploader-condition {
  padding: 5px 0;
}

.file-uploader .uploader-uploading {
  display: none;
  min-height: 101px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.file-uploader .uploader-uploading .uploader-uploading-message {
  padding-top: 5px;
}

.file-uploader.uploading .uploader-form {
  display: none;
}

.file-uploader.uploading .uploader-uploading {
  display: block;
}

.file-uploader.uploader-max .uploader-form,
.file-uploader.uploader-max .uploader-uploaded-item-skel, .file-uploader.uploader-init .uploader-form,
.file-uploader.uploader-init .uploader-uploaded-item-skel {
  display: none;
}

.file-uploader .uploader-filename {
  float: left;
  display: block;
  width: calc(100% - 70px);
}
